<div id="container"></div>
<script>
	var container = document.getElementById("container")

	var map = new google.maps.Map(container, {
		zoom: 15,
		center: new google.maps.LatLng(36.08232, 140.11265)
	});

	console.log("called view.js")
</script>
